<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd">
    <tlib-version>1.0</tlib-version>
    <short-name>utils</short-name>
    <uri>http://srs.slac.stanford.edu/utils</uri>
    <tag-file>
        <name>trEvenOdd</name>
        <path>/META-INF/tags/utils/trEvenOdd.tag</path>
    </tag-file>
    <tag-file>
        <name>menuBar</name>
        <path>/META-INF/tags/utils/menuBar.tag</path>
    </tag-file>
    <tag-file>
        <name>logo</name>
        <path>/META-INF/tags/utils/logo.tag</path>
    </tag-file>
    <tag-file>
        <name>image</name>
        <path>/META-INF/tags/utils/image.tag</path>
    </tag-file>
    <tag-file>
        <name>styleSheet</name>
        <path>/META-INF/tags/utils/styleSheet.tag</path>
    </tag-file>
    <tag-file>
        <name>conditonalLink</name>
        <path>/META-INF/tags/utils/conditionalLink.tag</path>
    </tag-file>
    <tag-file>
        <name>conditionalLink</name>
        <path>/META-INF/tags/utils/conditionalLink.tag</path>
    </tag-file>
    <tag-file>
        <name>pathBrowser</name>
        <path>/META-INF/tags/utils/pathBrowser.tag</path>
    </tag-file>
    <function>
        <name>encodeString</name>
        <function-class>org.srs.web.base.utils.StringUtils</function-class>
        <function-signature>java.lang.String encodeString(java.lang.String)</function-signature>

    </function>
    <function>
        <name>contextName</name>
        <function-class>org.srs.web.base.utils.SrsWebUtils</function-class>
        <function-signature>java.lang.String getContextName(javax.servlet.jsp.PageContext)</function-signature>
    </function>
    <function>
        <name>currentPage</name>
        <function-class>org.srs.web.base.utils.SrsWebUtils</function-class>
        <function-signature>java.lang.String getCurrentPage(javax.servlet.jsp.PageContext)</function-signature>
    </function>
    <function>
        <name>currentPathBrowser</name>
        <function-class>org.srs.web.base.utils.SrsWebUtils</function-class>
        <function-signature>java.lang.String pathBrowser(java.lang.String,java.lang.String)</function-signature>
    </function>
    <function>
        <name>variableValues</name>
        <function-class>org.srs.web.base.filters.modeswitcher.ModeSwitcherFilter</function-class>
        <function-signature>java.util.Map getVariableValues(java.lang.String,javax.servlet.jsp.PageContext)</function-signature>
    </function>
    <function>
        <name>mode</name>
        <function-class>org.srs.web.base.filters.modeswitcher.ModeSwitcherFilter</function-class>
        <function-signature>org.srs.web.base.filters.modeswitcher.Mode getMode(java.lang.String,javax.servlet.jsp.PageContext)</function-signature>
    </function>
    <tag>
        <name>pathBrowser</name>
        <tag-class>org.srs.web.base.taglib.utils.PathBrowser</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <description>The Path to browse</description>
            <name>path</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>The variable name to pass the path in.</description>
            <name>pathVar</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>The url to go to.</description>
            <name>href</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>Wether to add the query string.</description>
            <name>queryString</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
    <tag>
        <name>modeChooser</name>
        <tag-class>org.srs.web.base.filters.modeswitcher.ModeSwitcherChooserTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <description>Mode to display.</description>
            <name>mode</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>The url to go to.</description>
            <name>href</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>The target for the href.</description>
            <name>target</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
    <tag>
        <name>refresh</name>
        <tag-class>org.srs.web.base.filters.refresh.RefreshTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <description>The initial refresh rate.</description>
            <name>refresh</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>int</type>
        </attribute>
        <attribute>
            <description>Pup up a box when refreshing stops.</description>
            <name>alertOnStop</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>boolean</type>
        </attribute>
    </tag>
    <tag>
        <name>progressBar</name>
        <tag-class>org.srs.web.base.utils.ProgressBarTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <description>The done percentage of the bar.</description>
            <name>donePercentage</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>int</type>
        </attribute>
        <attribute>
            <description>The error percentage of the bar.</description>
            <name>errorPercentage</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>int</type>
        </attribute>
        <attribute>
            <description>The width of the bar.</description>
            <name>width</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>int</type>
        </attribute>
        <attribute>
            <description>The height of the bar.</description>
            <name>height</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>int</type>
        </attribute>
        <attribute>
            <description>The default href. If Done, Todo, Error href are null, the default will be used.</description>
            <name>href</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>The href of the done part of the bar.</description>
            <name>doneHref</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>The href of the to-do part of the bar.</description>
            <name>todoHref</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>The href of the error part of the bar.</description>
            <name>errorHref</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
    <tag>
        <name>printCookies</name>
        <tag-class>org.srs.web.base.filters.cookies.PrintCookiesTag</tag-class>
        <body-content>scriptless</body-content>
    </tag>
    <tag>
        <name>createCookies</name>
        <tag-class>org.srs.web.base.filters.cookies.CreateCookiesTag</tag-class>
        <body-content>scriptless</body-content>
    </tag>
    <tag>
        <name>fileInclude</name>
        <tag-class>org.srs.web.base.utils.FileInclude</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <description>Inports files as is.</description>
            <name>filename</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>Escape Xml. Default is false.</description>
            <name>escapeXml</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>boolean</type>
        </attribute>
    </tag>
    <tag>
        <name>listFilter</name>
        <tag-class>org.srs.web.base.taglib.list.ListFilterTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <description>The name of the output list.</description>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <description>The input list.</description>
            <name>items</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.util.List</type>
        </attribute>
    </tag>
    <tag>
        <name>accept</name>
        <tag-class>org.srs.web.base.taglib.list.AcceptTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <description>Test for inclusion in list.</description>
            <name>test</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>boolean</type>
        </attribute>
    </tag>
</taglib>
