<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd">
    <tlib-version>1.0</tlib-version>
    <short-name>xmltable</short-name>
    <uri>http://srs.slac.stanford.edu/xmltable</uri>
    <tag-file>
        <name>xmltablebuilder</name>
        <path>/META-INF/tags/utils/xmltablebuilder.tag</path>
    </tag-file>
    <tag>
        <name>xmltable</name>
        <tag-class>org.srs.web.base.taglib.xmltable.XmlTableTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <description>The Result Set.</description>
            <name>result</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Object</type>
        </attribute>
        <attribute>
            <name>id</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>var</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>defaultsort</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>defaultorder</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>decorator</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
    <tag>
        <name>xmltablecaption</name>
        <tag-class>org.srs.web.base.taglib.xmltable.XmlTableCaptionTag</tag-class>
        <body-content>scriptless</body-content>
    </tag>
    <tag>
        <name>xmltablecolumn</name>
        <tag-class>org.srs.web.base.taglib.xmltable.XmlTableColumnTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>property</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>href</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>group</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>classname</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>paramId</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>paramProperty</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>title</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>type</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>sortable</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>boolean</type>
        </attribute>
        <attribute>
            <name>decorator</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
    <function>
        <name>xmltable</name>
        <function-class>org.srs.web.base.taglib.xmltable.XmlTable</function-class>
        <function-signature>org.srs.web.base.taglib.xmltable.XmlTable createXmlTable(java.lang.String)</function-signature>
    </function>
    <function>
        <name>xmltableFromUrl</name>
        <function-class>org.srs.web.base.taglib.xmltable.XmlTable</function-class>
        <function-signature>org.srs.web.base.taglib.xmltable.XmlTable createXmlTableFromUrl(java.lang.String)</function-signature>
    </function>
</taglib>
